@using WebSiteBackend.Business.Abstracts.Interfaces
@using WebSiteBackend.Entities.Concrete;
@model List<Category>

@{
    Layout = "~/Views/Private/_AdminLayout.cshtml";
}


    <div id="">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Tables</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Tables</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-body">
                        DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
                        <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                        .
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        DataTable Example
                    </div>
                    <div>
                        <a class="btn btn-primary" asp-action="Create" asp-controller="Category">Kategori ekle</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Kategori Id</th>
                                        <th>Kategori Adı</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                                @*<tfoot>
                                    <tr>
                                        <th>Kategori Id</th>
                                        <th>Kategori Adı</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </tfoot>*@
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <th scope="row">@item.Id</th>
                                            <td>@item.Name</td>
                                            <td>
                                                @Html.ActionLink("Düzenle", "Update", "Category", new { id = item.Id },
                                                new { @class = "btn btn-warning" })

                                                @Html.ActionLink("Sil", "Delete", "Category", new { id = item.Id },
                                                new { @class = "btn btn-danger" })

                                            </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        @*<footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2021</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>*@
    </div>


